<div class="container" ng-controller="app.colors.MainController as vm">
  <div class="row ballsDiv">
    <div class="col-sm-1">
      <div class="glyphicon glyphicon-menu-left" ng-click="vm.loadPrevFive()"></div>
    </div>
    <div class="slide">
      <div class="showColors col-md-2"  ng-repeat="colors in vm.fiveColors track by $index">
        <div class="singleColor" ng-click="vm.playOnClick($index)">
          <img class="colorBall" ng-click="click =true" ng-mouseover="open = true" ng-mouseleave="open = false" src="{{colors.img}}" />
          
          <div class="engName" ng-show="open">
            <h1>{{colors.english}}</h1>
          </div>
          <div class="showOnClick" ng-show="click" ng-mouseleave = "click=false">
            <h1>{{colors.engHeb}}</h1>
            <h1>{{colors.hebrew}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="right glyphicon glyphicon-menu-right" ng-click="vm.getNextFive()"></div>
    </div>
  </div>
</div>
