<div class="container" ng-controller="app.colors.MainController as vm">
  <div class="row ballsDiv">
    <div class="col-sm-1">
      <div class="glyphicon glyphicon-menu-left" ng-click="vm.loadPrevFive()"></div>
    </div>
    <div id="slider" class="slide">
      <div class="showColors col-md-2" ng-mouseover="open = true" ng-mouseleave="open = false" ng-repeat="colors in vm.fiveColors track by $index">
        <div class="singleColor" ng-click="vm.playOnClick($index)">
          <img class="colorBall"   src="{{colors.img}}" />

          <div class="engName">
            <div ng-show="open || vm.showColor == $index" >{{colors.english}}</div>

            <div class="showOnClick" ng-show="vm.showColor == $index">
              <div>{{colors.engHeb}}</div>
              <div>{{colors.hebrew}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="right glyphicon glyphicon-menu-right" ng-click="vm.getNextFive()"></div>
    </div>
  </div>
  <!-- <div class="carousel" id="slider1" style="margin-left: 20px;">

    <label class="labelSecurity">Incident Photos</label><br />

    <div class="carousel-inner">
        <div class="item" ng-class="{active:!$index}" ng-repeat="colors in vm.fiveColors track by $index">
          <img class="colorBall"   src="{{colors.img}}" />

          <div class="engName">
            <div ng-show="open || vm.showColor == $index" >{{colors.english}}</div>

            <div class="showOnClick" ng-show="vm.showColor == $index">
              <div>{{colors.engHeb}}</div>
              <div>{{colors.hebrew}}</div>
            </div>
          </div>
        </div>
    </div>

    <a class="carousel-control right" href="#slider1" data-slide="next"></a>

</div> -->
</div>
