.colorBall:hover {
    transform: scale(1.25);
}

.colorBall {
  transition: transform .3s ease-in-out;
}


.head {
  margin-top: 20px;
  height: 150px;
  background-color: #377eff;
  border-radius: 5px;
}

.text {
  height: 50px;
  background-color: #88aced;
}

.right {
  height:60px;
}

.engName {
  background-color: #e5e0e0;
  border-radius: 5px;
  text-align: center;
  position: relative;
  right: 12px;
}

.ballsDiv {
  height: 300px;
  margin-top: 100px;

}

.glyphicon {
  font-size: 3em;
  color: #e5e0e0;
  transition: color .3s ease-in-out;

}

.glyphicon:hover {
  color: black;
}

.slide {
  animation-duration: .5s;
  animation-name: slidein;
  animation-direction:reverse;

}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 300%;
  }
}

.footer {
  height: 200px;
  background-color: #88aced;
}

.backImg {
  background-image: url("newBack.jpg");
  background-size: 5000px 5000px;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  text-align: center;
}
